---
pageTitle: 'Quiénes somos'
navItem: 'about'
layout: 'default.njk'
permalink: false
---

<article class="page-content">
  <h1>Quiénes somos</h1>
  <p><strong>VLCTechHub</strong> es una asociación que promueve las comunidades técnicas de la ciudad de Valencia y alrededores, fomenta empleos de calidad y (co)organiza eventos para ayudar a mejorar la diversidad, la cooperación y hacer que el conocimiento tecnológico sea accesible para más personas. También organiza el evento <a href="https://vlctechfest.org"><strong>VLCTechFest</strong></a> una vez al año.</p>
</article>
